



.footer {
	flex-shrink: 0;
	margin-top: auto;
	/* bottom: 0; */
	/* margin-bottom: 0px; */
	/* width: 100%; */
	/* height: 100vh; */
	/* height: 200px; */
	/* border: 1px solid rgb(36, 39, 41); */
	/* background-color: rgb(48, 105, 56); */
	background:  linear-gradient(360deg, #B9D7EA, #F7FBFC);

}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.footer-container__social-box {
	/* border: 1px solid rgb(36, 39, 41); */
	width: 50%;

}

.footer-container__box2 {
	/* border: 1px solid rgb(36, 39, 41); */
	width: 50%;	
}

.copyright {
	/* border: 1px solid rgb(36, 39, 41); */
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	color: var(--b-gray);
}