/*********************************************************/
/***************************X*****************************/
/*********************************************************/

.gallery-container-x {
	background-color: var(--b-light);
	/* background-color: rgba(19, 117, 141, 0.1); */
    /* background: rgba(0, 0, 0, 0.3); */

	min-height: 100vh;
	/* min-height: calc(100vh - 120px) */
}


/*********************************************************/
/***************************M*****************************/
/*********************************************************/

.gallery-container-m {
	/* background-color: var(--b-light); */
	/* background-color: rgba(19, 117, 141, 0.1); */
	/* height: 100vh; */
	/* padding-top: 60px; */
	min-height: 100vh;

}

/*********************************************************/
/***************************S*****************************/
/*********************************************************/

.gallery-container-s {
	/* background-color: var(--b-light); */
	/* background-color: rgba(19, 117, 141, 0.1); */
	/* height: 100%; */
	min-height: 100vh;

	/* min-height: calc(100vh - 0.9rem) */
}
